

<p>Tic Tac Toe </p>


<table>
<tr>
  <td>
  <div class="vak1" (click)="status=!status" [ngClass]="status ? 'kruisje' : 'rondje'"></div>
  </td>
  <td>
  <div class="vak1" (click)="status2=!status2" [ngClass]="status2 ? 'kruisje' : 'rondje'"></div>
</td>    <td>
<div class="vak1" (click)="status3=!status3" [ngClass]="status3 ? 'kruisje' : 'rondje'"></div>
</td>
</tr>
<tr>
<td>
<div class="vak1" (click)="status4=!status4" [ngClass]="status4 ? 'kruisje' : 'rondje'"></div>
</td>
<td>
<div class="vak1" (click)="status=!status" [ngClass]="status ? 'kruisje' : 'rondje'"></div>
</td>    <td>
<div class="vak1" (click)="status=!status" [ngClass]="status ? 'kruisje' : 'rondje'"></div>
</td>
</tr>
<tr>
<td>
<div class="vak1" (click)="status=!status" [ngClass]="status ? 'kruisje' : 'rondje'"></div>
</td>
<td>
<div class="vak1" (click)="status=!status" [ngClass]="status ? 'kruisje' : 'rondje'"></div>
</td>    <td>
<div class="vak1" (click)="status=!status" [ngClass]="status ? 'kruisje' : 'rondje'"></div>
</td>
</tr>
</table>